@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 450px;
  min-height: 500px;
  background-color: #343541;
}

.App {
  text-align: center;
}

/* ===== Objects ===== */
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  /* add a subtle drop shadow to the form */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  background-color: #40414f;
  border-radius: 10px;
  width: 100%;
}

.form-input {
  outline: none;
  border: none;
  font-size: 1rem;
  resize: none;
  background-color: #40414f;
  padding: 15px;
  /* make the left side of the input rounded by 10px */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  /* change the cursor color to #ececf2 */
  caret-color: #ececf2;
  color: #ececf2;
  width: 100%;
}

.form-btn {
  background-color: #40414f;
  border: none;
  color: #ececf2;
  cursor: pointer;
  transition: 0.15s;
  border-radius: 5px;
  padding: 5px;
  padding-inline: 8px;
  margin-left: auto;
  margin-right: 10px;
}

/* change the background color of the button when hovered */
.form-btn:hover {
  background-color: #202123;
}

.title-primary {
  color: #ececf2;
  font-size: 2rem;
}

.link-primary {
  color: #ececf2;
  text-decoration: underline;
  opacity: 0.5;
  transition: 0.1s;
}

.link-primary:hover {
  opacity: 1;
}

/* ===== Containers ===== */
/* make a grid container that has 2 columns with 3 rows */
.container-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.box {
  background-color: #40414f;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  transition: 0.1s;
  user-select: none;
}

.box:hover {
  background-color: #202123;
}

.chat-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 25px;
  padding-block: 25px;
}

#sayit-box {
  background-color: #40414f;
}

.chat {
  display: flex;
  justify-content: center;
  align-items: top;
  width: 100%;
}

.profile-icon {
  color: #202123;
  margin-right: auto;
  background-color: #ececf2;
  max-height: 30px;
  max-width: 30px;
}

#user-icon {
  width: 100%;
  height: 100%;
}

#sayit-icon {
  max-height: 30px;
  max-width: 30px;
}

.prompt {
  width: 100%;
  color: #ececf2;
  font-size: 0.95rem;
  text-align: left;
  margin-left: 25px;
  font-weight: 500;
}

/* ===== Sections ===== */
#home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
  overflow-y: scroll;
}

#main {
  margin-bottom: 15%;
}

#footer {
  position: fixed;
  bottom: 0;
  margin-top: 100%;
  width: 100%;
  background-color: #343541;
  color: #ececf2;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  padding-inline: 10px;
  z-index: 2;
}

.footer-desc {
  font-size: 0.5rem;
  margin: 5px;
}